<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salman Adnan</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>

<table cellspacing="20">
    <tr>
        <td><img alt="Andrew Tate image with his Bugatti" src="static/andrew_tate.png"></td>
        <td>
            <h1>Salman Adnan</h1>
            <p>I am a <em>Web Developer</em></p>
            <p>I am an AI and Data Scientist</p>
        </td>
    </tr>
</table>

<hr>
<h3>Books and Teaching</h3>
<ul>
    <li>Completed 40 days in <a href="https://www.udemy.com/course/100-days-of-code/" target="_blank">100 days of
        Python</a> course
    </li>
    <li>1st semester completed in Habib University.</li>
</ul>

<hr>
<table border>

    <thead>
    <tr>
        <th>Dates</th>
        <th>Work/Problem</th>
    </tr>
    </thead>

    <tr>
        <td>2022-2023</td>
        <td>Expert in AI and Data Science</td>
    </tr>
    <tr>
        <td>2022-2023</td>
        <td>L4 L5 problem</td>
    </tr>
</table>

<hr>
<h3>Skills</h3>
<table cellspacing="15">
    <tr>
        <td>
            <table cellspacing="7">
                <tr>
                    <td>iOs Development</td>
                    <td>⭐⭐⭐</td>
                </tr>
                <tr>
                    <td>Python Basics</td>
                    <td>⭐⭐⭐⭐⭐</td>
                </tr>
            </table>
        </td>

        <td>
            <table>
                <tr>
                    <td>Martial Arts</td>
                    <td>⭐⭐⭐⭐⭐</td>
                </tr>
                <tr>
                    <td>Table Tennis</td>
                    <td>⭐⭐⭐⭐⭐</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<hr>
<a href="static/hobbies.html">My Hobbies</a>

<hr>
<a href="static/contact_me.html">Contact Me</a>
<hr>

<a href="static/Debugging Problem 1.html">D1</a>
<hr>
<a href="static/Debugging Problem 2.html">D2</a>
<hr>
</body>


</html>
